body {
	background-image: url("../img/ps_neutral.png");
	font-size: 16px;
	margin-top: 70px;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Poppins;
}

p {
	font-family: Roboto;
}

hr {
    background-color: #e8e8e8; /* Modern Browsers */
    border: none;
    color: #e8e8e8; /* old IE */
    height: 3px;
}

.navbar-header .navbar-toggle {
	border-color: #90989B;
}

.navbar-header .navbar-toggle:hover {
	background-color: #444647;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: #90989B;
}

.navbar-header .navbar-toggle:hover .icon-bar {
	background-color: #EFF1F2;
}

.active a{
	background-color: rgba(132,192,198,0.6) !important;
}

.navbar-border {
	border-bottom-color: #90989B;
	border-bottom-width: 1px;
}

.navbar-default {
	background:#E8EAEA;
	font-family:Poppins;
}

.navbar-brand {
	color:#000000 !important;
	font-family:'Faustina';
	font-size:26px;
	font-weight:300;
	letter-spacing: 1px;
}

#welcome img{
	border:2px solid #84C0C6;
	height: 230px;
	margin-top: 8px;
	vertical-align: center;
	width: 230px;
}

#welcome .welcome-right{
	margin: 0 30px 10px 30px;
}

.introsentence {
	color:#399CBA;
}

.welcome-right a{
	text-decoration: none;
}

.contactme {
	color:#D00000;
	text-decoration: none;
}

.contactme:hover {
	color:#D00000;
	font-weight:bold;
	text-decoration: none;
}

.contactme:visited {
	color:#D00000;
	text-decoration: none;
}

.contactme:active {
	color:#D00000;
	text-decoration: none;
}

.education {
	color:#D00000;
}

.contactmebtn {
	color:#D00000;	
}

#showcase {
	margin-top:40px;
}

#showcase h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

#showcase img{
	margin-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	width: 90%;
}

#showcase .showcase-right{
	margin-top: 40px;
}

#certifications {
	background:#EDEDED;
	margin-top: 20px;
	padding: 10px 0 40px 0;
	text-align: center;
}

#certifications h2 {
	padding-bottom: 20px;
}

#certifications li{
	padding-bottom: 5px;
	text-align: left;
}

#certifications a {
	color:#399cba;
	text-decoration: none;
}

#certifications a:hover {
	color:#226377;
	font-weight: bold;
}

#education .info-right {
	margin-top: 40px;
}

#experience {
	margin: 20px 0 60px 0;
}

#experience .info-left-one {
	margin-top: 20px;
}

#experience .info-left-two {
	margin-top: 20px;
}

#experience .info-left-three {
	margin-top: 20px;
}

#experience .info-left-four {
	margin-top: 20px;
}

.carousel {
	height:500px;
	margin-bottom: 15px;
	margin-top: 25px;
	width:auto;
}

.carousel .carousel-inner {
	height:500px;
	width:auto;
}

.carousel img{
	height:500px;
	width:auto;
}

.carousel .item {
	height:500px;
	width:100%;
}

.carousel-inner > .item > img {
	height:500px;
	width:100%;
}

.hobby-left {
	margin-top:55px;
}

.info-petro-one img {
	height:auto;
	width:325px;
	padding-top:30px;
}

.info-left-one img {
	height:auto;
	width:175px;
}

.info-left-two img {
	height:auto;
	width:300px;
}

.info-left-three img {
	height:auto;
	width:175px;
}

.info-left-four img {
	height:auto;
	margin-bottom:40px;
	margin-top:60px;
	width:400px;
}

.date {
	float:right;
}

.icons {
	text-align: center;
}

.icons img {
	display:inline-block;
	height:auto;	
	margin:0 7px 25px 7px;
	width:35px;
}

#particles-js {
	background:#D00000;
	border-bottom: #333 7px solid;
	border-top: #333 7px solid;
	height:400px;
	position:relative;
}

#login {
	background:#FFFFFF;
	border:#333 1px solid;
	border-radius: 15px;
	left:0;
	margin: auto;
	max-width:350px;
	opacity:0.85;
	padding:2em;
	position: absolute;
	right:0;
	top:25px;
}

.form-control {
	border:#333 1px solid;
}

.submitbutton {
	border:#333 1px solid;	
}

footer{
	padding: 30px;
}

/*--- Media Queries --*/
@media screen and (max-width: 1200px) {
	.hobby-left {
	margin-bottom:100px;
	margin-top:0px;	
	top:0;
	}
}

@media screen and (max-width: 992px) {
	.navbar-brand {
		font-size:20px;
	}

	.navbar .nav li {
		font-size:14px;
	}

	.navbar .nav a {
		font-size:14px;
	}

	.hobby-left {
		margin-bottom:40px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-brand {
		font-size:24px;
	}

	.carousel {
		height:450px;
		margin-bottom: 15px;
		margin-top: 25px;
		width:auto;
	}

	.carousel .carousel-inner {
		height:450px;
		width:auto;
	}

	.carousel img{
		height:450px;
		width:auto;
	}

	.carousel .item {
		height:450px;
		width:100%;
	}

	.carousel-inner > .item > img {
		height:450px;
		width:100%;
	}
}
@media screen and (max-width: 670px) {
	#experience h2 {
		font-size:22px;
	}

	#experience h4 {
		font-size:16px;
	}

	.carousel {
		height:400px;
		margin-bottom: 15px;
		margin-top: 25px;		
		width:auto;
	}

	.carousel .carousel-inner {
		height:400px;
		width:auto;
	}

	.carousel .carousel-inner .carousel-caption h3{
		font-size:18px;
	}

	.carousel .carousel-inner .carousel-caption p{
		font-size:14px;
	}

	.carousel img{
		height:400px;
		width:auto;
	}

	.carousel .item {
		height:400px;
		width:100%;
	}

	.carousel-inner > .item > img {
		height:400px;
		width:100%;
	}
}

@media screen and (max-width: 575px) {
	p {
		font-size:14px;
	}

	#experience li {
		font-size:14px;
	}

	#experience .toyotaOne {
		font-size:20px;
	}

	.carousel {
		height:300px;
		margin-bottom: 15px;
		margin-top: 25px;
		width:auto;
	}

	#certifications .cert-left li{
		font-size:14px;
	}

	#certifications .cert-right li{
		font-size:14px;
	}

	.carousel .carousel-inner {
		height:300px;
		width:auto;
	}

	.carousel .carousel-inner .carousel-caption h3{
		font-size:16px;
	}

	.carousel .carousel-inner .carousel-caption p{
		font-size:12px;
	}

	.carousel img{
		height:300px;
		width:auto;
	}

	.carousel .item {
		height:300px;
		width:100%;
	}

	.carousel-inner > .item > img {
		height:300px;
		width:100%;
	}
}

@media screen and (max-width: 475px) {
	#experience h2 {
		font-size:20px;
	}

	#experience h4 {
		font-size:14px;
	}
}

@media screen and (max-width: 420px) {
	#certifications .cert-left li{
		font-size:12px;
	}

	#certifications .cert-right li{
		font-size:12px;
	}

	.carousel {
		height:250px;
		margin-bottom: 15px;
		margin-top: 25px;
		width:auto;
	}

	.carousel .carousel-inner {
		height:250px;
		width:auto;
	}

	.carousel .carousel-inner .carousel-caption h3{
		font-size:14px;
	}

	.carousel .carousel-inner .carousel-caption p{
		font-size:11px;
	}

	.carousel img{
		height:250px;
		width:auto;
	}

	.carousel .item {
		height:250px;
		width:100%;
	}

	.carousel-inner > .item > img {
		height:250px;
		width:100%;
	}
}