@charset "UTF-8";
/* CSS Document */

html {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

body { 
	margin:0;
	padding:0;
	border:0;
}

div p {
	margin:0;
	padding:0;
}

a {
	color:#FFFFFF;
	text-decoration:none;
}

li {
	display: list-item;
	list-style-position:inside;
}

img {
	max-width:100%;
	height:auto;
	margin: 0 0 10px 0;
}

#container {
	background:url(../Images/apple-iphone-desk-office.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	margin:0;
	height:100vh;
}

#container2 {
	background:url(../Images/mac_ipad.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	margin:0;
	height:100vh;
}

#container3 { 
	background:url(../Images/mac_paper2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	margin:0;
	height:100vh;
}

#container4 {
	background:url(../Images/technology-music-sound-things.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	margin:0;
	height:100vh;
} 

#header1 {
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	margin-top:0px;
	padding-top:1.9%;
}	

#title {
	padding-top:13.5%;
	color:#FFFFFF;
	text-align:center;
	font-size:10%;
	font-weight:bolder;
}

#title1 {
	padding-top:12.4%;
	color:#FFFFFF;
	text-align:center;
	font-size:10%;
	font-weight:bolder;
}

#main {
	color:#FFFFFF;
	text-align:center;
	vertical-align:central;
	padding-top:1.6%;
}

#body1 {
	height:100%;
	background:#FFFFFF;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#hor-rule {
	width:60%;
	border-top:thin solid #000000;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6%;
}

#hor-rule2 {
	width:60%;
	border-top:thin solid #000000;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6%;
}

#footer {
	height:100%;
	width:auto;
	background-color:#333333;
	text-align:center;
	padding-top:1%;
	padding-bottom:2%;
}

#logo {
	height:100%;
	width:auto;
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	padding-bottom:1.25%;
	vertical-align:central;
}

#download {
	text-align:center;
	padding-right:1.25%;
	padding-left:1.25%;
	padding-bottom:1.5%;
	padding-top:1.5%;
	color:#FFF;
	border: thin solid #FFFFFF;
	font-size:100%;	
	width:13%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2.4%;
}

#row {
	margin-left:auto;
	margin-right:auto;
	padding-top:3%;
}

#row2 {
	margin-left:auto;
	margin-right:auto;
	padding-top:3%;
	padding-bottom:6%;
}

.bodytext a {
	color:#000000;
	text-decoration:underline;
}

.bodytext1 a {
	color:#000000;
	text-decoration:underline;
}

.bodytext3 a {
	color:#000000;
	text-decoration:underline;
}

.bodytext4 a {
	color:#000000;
	text-decoration:underline;
}

.footer-button a {
	color:#999999;
	text-decoration:none;
}

.button1 {
	text-align:right;
	padding-right:1.25%;
	padding-left:1.25%;
	color:#FFF;
	border-right: thin solid #FFFFFF;
}

.button2 {
	text-align:right;
	padding-right:2.5%;
	padding-left:1.25%;
	color:#FFF;
}

.title {
	color:#FFFFFF;
	font-size:36px;
	padding-top:.8%;
	padding-bottom:1.6%;
}

.button3 {
	text-align:right;
	padding-right:1.25%;
	padding-left:1.25%;
	padding-bottom:1.25%;
	padding-top:1.25%;
	color:#FFF;
	border: thin solid #FFFFFF;
	border-spacing:1.25%;
	font-size:14px;	
}

.bodytitle {
	padding-top:4%;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	color:#000000;
}

.bodytitle1 {
	padding-top:4%;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	color:#000000;
}

.bodytext {
	font-family:Arial, Helvetica, sans-serif;
	padding-top:3%;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	line-height:2em;
	padding-bottom:6%;
}

.bodytext1 {
	font-family:Arial, Helvetica, sans-serif;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:1%;
	padding-top:3%;
}

.bodytext2 {
	font-family:Arial, Helvetica, sans-serif;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:1%;
}

.bodytext3 {
	font-family:Arial, Helvetica, sans-serif;
	padding-top:1%;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:1%;
}

.bodytext4 {
	font-family:Arial, Helvetica, sans-serif;
	width:60%;
	padding-top:1%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6%;
}
	
.footer-button {
	color:#999999;
	padding-left:.65%;
	padding-right:.65%;
	padding-top:2%;
}

.copyright {
	font-size:12px;
	color:#666666;
	padding-top:1.25%;
	padding-bottom:1.5%;
}

.name {
	color:#999999;
}

.pictures1 {
	padding-left:1.5%; 
	padding-right:1.5%;
}

.ImageBorder {
	border:1px solid black;
}

.download {
	padding:5%;
}

