@charset "UTF-8";
/* CSS Document */
body,td,th { 
	font-family: Tahoma, Geneva, sans-serif; 
}

body { 
	width: 100%; 
	margin:0; 
}

#header1 {
	background-color: #666666;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: #FFF;
}

.linkedin {
	padding-left:25px;
}

.buttons {
	text-align:right;
	padding-right:20px;
	padding-left:20px;
	color:#FFF;
	border-right: thin solid #FFFFFF;
}

.button2 {
	text-align:right;
	padding-right:20px;
	padding-left:20px;
	color:#FFF;
}

#title { 
	background-color:#CCC; 
	width:auto;
	padding-bottom:100px; 
}

#title2 {
	font-size:24px;
	padding-left:40px;
	padding-top:50px;
	padding-bottom:70px;
}

#table2 {
	background-color:#72B0CF;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:50px;
}

#table3 {
	background-color:#72B0CF;
	margin-left:auto;
	margin-right:auto;
	width:950px;
	padding-top:30px;
	padding-bottom:30px;
	alignment-adjust:central;
}

#table4 {
	background-color: #C9A55B;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}

li {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}
