body {
	margin-top: 70px;
	font-size: 16px;
	background-image: url("../img/ps_neutral.png");
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: Poppins;
}

p {
	font-family: Roboto;
}

.navbar-header .navbar-toggle {
	border-color: #90989B;
}

.navbar-header .navbar-toggle:hover {
	background-color: #444647;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: #90989B;
}

.navbar-header .navbar-toggle:hover .icon-bar {
	background-color: #EFF1F2;
}

.active a{
	background-color: rgba(132,192,198,0.6) !important;
}

.navbar-border {
	border-bottom-width: 1px;
	border-bottom-color: #90989B;
}

.navbar-default {
	background:#E8EAEA;
	font-family:Poppins;
}

.navbar-brand {
	font-size:24px;
	color:#000000 !important;
}

#welcome img{
	width: 230px;
	height: 230px;
	vertical-align: center;
	margin-top: 8px;
	border:2px solid #84C0C6;
}

#welcome .welcome-right{
	margin: 0 30px 10px 30px;
	/*padding:30px;*/
}

.introsentence {
	color:#399CBA;
}

.contactme {
	color:#D00000;
}

.education {
	color:#D00000;
}

#showcase {
	margin-top:40px;
}

#showcase h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

#showcase img{
	width: 90%;
	margin-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}

#showcase .showcase-right{
	margin-top: 40px;
}

#certifications {
	background:#f1f1f1;
	padding: 10px 0 40px 0;
	text-align: center;
	margin-top: 20px;
}

#certifications h2 {
	padding-bottom: 20px;
}

#certifications li{
	padding-bottom: 5px;
	text-align: left;
}

#certifications a {
	color:#399cba;
	text-decoration: none;
}

#certifications a:hover {
	color:#226377;
	font-weight: bold;
}

#education .info-right {
	margin-top: 40px;
}

#education img{
	width: 90%;
	margin-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}

#experience {
	margin: 20px 0 60px 0;
}

#experience .info-left-one {

}

#experience .info-right-one {
	height:auto;
	width:auto;
	max-height:10px;
	max-width: 10px;
}

#contact{
	background:url(../img/4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 40px;
	color: #fff;
	border-top: #333 7px solid;
	border-bottom: #333 7px solid;
}

footer{
	padding: 30px;
}


